/* --- Start of Main ---*/

main {
    min-height: 100vh;
    min-width: 70vw;
    background-color:rgb(65, 203, 65);
    box-shadow: 15px 15px 15px 15px black;
}

aside {
    min-height: 100vh;
    min-width: 15vw;
    background-color: chartreuse;
    box-shadow: 15px 15px 15px 15px black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    display: flex;
}

h1 {
    color: blueviolet;
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
}

h2 {
    color: blueviolet;
    font-size: 2em;
    text-align: center;
    margin-top: 3em;
}